.NavbarItems {
    background: #1f1f1f;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    border-bottom: 1px solid #121212;
}

.navbar-logo {
    display: flex;
    align-items: center;
    color: white;
    justify-self: start;
    margin-left: 1.5rem;
    cursor: pointer;
}

.fa-youtube {
    margin-left: 0.5rem;
    font-size: 1.25em !important;
}

.fa-bars {
    color: white;
}

.fa-times {
    color: white;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: end;
    width: 80vw;
    justify-content: end;
    margin-right: 1rem;
}

.nav-links {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
}

.nav-links:hover {
    background-color: #0f0f0f;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

@media screen and (max-width: 960px) {
    .NavbarItems {
        position: relative;
    }
    .nav-menu {
        grid-gap: 5px;
    }
    .navbar-logo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(5%, -25%);
    }
}