.page {
    background-color: #121212;
    top: 0;
    left: 0;
}

.genre,
.lang {
    display: flex;
    flex-direction: row;
    width: auto;
    margin-top: 3rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    justify-content: left;
}

.lang {
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.genreTitle,
.langTitle {
    font-size: 1.5rem;
    color: white;
}

.options {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 1rem;
    margin-left: 2rem;
}

.languages {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-gap: 1rem;
    margin-left: 2rem;
}

.searchTitle {
    position: relative;
    left: 12.5%;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 4rem;
    color: white;
    margin-bottom: 3rem;
    white-space: initial;
    overflow: hidden;
}

.ytItems {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, max-content));
    grid-gap: 2rem;
    justify-content: center;
    align-items: center;
}

.title,
.channel {
    width: 320px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: white;
}

.title {
    margin-top: 10px;
}

.channel {
    color: grey;
    margin-top: 2px;
}

a {
    text-decoration: none;
}

input[type="radio"] {
    display: none;
}

label {
    color: grey;
    font-size: 1.5rem;
    border: none;
    background: none;
}

label:hover {
    color: red;
}

input[type="radio"]:checked+label {
    color: red;
    border-bottom: 2px solid red;
}

img {
    transition: transform .2s;
    outline-style: outset;
    outline-color: grey;
}

img:hover {
    transform: scale(1.1);
    outline-color: red;
}

.title:hover,
.channel:hover {
    color: red;
}

@media screen and (max-width: 960px) {
    .genre,
    .lang {
        flex-direction: column;
        margin-left: 3rem;
    }
    .options,
    .languages {
        grid-template-columns: repeat(3, auto);
        margin-left: 0;
    }
    label {
        font-size: .8rem;
    }
    input[type="radio"]:checked+label {
        color: red;
        border: none;
        text-decoration: underline;
    }
    .genreTitle,
    .langTitle {
        font-size: 1rem;
        align-self: flex-start;
        margin-bottom: 1rem;
    }
    .langTitle {
        margin-top: 1.5rem;
    }
    .searchTitle {
        font-size: 2rem;
    }
}